# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

In [4]:
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# Your code here:

admissions.isna().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# Your code here:



admissions.set_index('Serial No.').head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# Your code here:

admissions[['GRE Score', 'CGPA']].duplicated()#.sum()

0      False
1      False
2      False
3      False
4      False
       ...
380    False
381    False
382    False
383    False
384    False
Length: 385, dtype: bool

In [8]:
admissions.set_index(["GRE Score","CGPA"], inplace = True)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
# Your code here:

admissions.reset_index(inplace = True)

In [10]:

admissions.reset_index(inplace = True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [11]:
# Your code here:

admissions_number = admissions.loc[(admissions.CGPA >9) & (admissions.Research == 1)]
len(admissions_number)

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [12]:
# Your code here:
x = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
mean = x['Chance of Admit'].mean()
x['Admitted'] = np.where(x['Chance of Admit'] > 0.80,  'Yes', 'No')

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [13]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    return (col - col.mean())/col.std()
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   CGPA               385 non-null    float64
 3   Serial No.         385 non-null    int64
 4   TOEFL Score        385 non-null    int64
 5   University Rating  385 non-null    int64
 6   SOP                385 non-null    float64
 7   LOR                385 non-null    float64
 8   Research           385 non-null    int64
 9   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(6)
memory usage: 30.2 KB

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [14]:
# Your code here:

admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])

admissions.head()

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [15]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
#print(admissions.shape)
decision_choice

['GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [16]:
# Your code here:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.753381
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.628727
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.191647
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,1.407334

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [17]:
# Your code here:

admissions['decision'] = np.where(admissions['deciding_column'] > 0.80,  '1', '0')

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [18]:
# Your code here:
admissions['decision'].value_counts()

0    291
1     94
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [19]:
# Your code here:

admissions.columns = admissions.columns.str.upper().str.replace(".","").str.replace(" ","_")
admissions

,INDEX,GRE_SCORE,CGPA,SERIAL_NO,TOEFL_SCORE,UNIVERSITY_RATING,SOP,LOR,RESEARCH,CHANCE_OF_ADMIT,CGPA_STD,GRE_STD,LOR_STD,DECIDING_COLUMN,DECISION
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.753381,1
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034,0
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.628727,0
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463,1
382,382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.191647,1
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641,0
384,384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,1.407334,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [25]:
# Your code here:

admissions[admissions['UNIVERSITY_RATING']>=4]['GRE_SCORE'] = admissions[admissions['UNIVERSITY_RATING']>=4]['GRE_SCORE']+10
admissions

#sería lo mismo lo realizado arriba que esto ? es que no veo variacion .creo:
#admissions.loc[admissions["UNIVERSITY_RATING"] >= 4, "GRE_SCORE"]= admissions[admissions["UNIVERSITY_RATING"] >= 4]["GRE_SCORE"] + 10

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,INDEX,GRE_SCORE,CGPA,SERIAL_NO,TOEFL_SCORE,UNIVERSITY_RATING,SOP,LOR,RESEARCH,CHANCE_OF_ADMIT,CGPA_STD,GRE_STD,LOR_STD,DECIDING_COLUMN,DECISION,adjusted_gre
0,0,347,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.753381,1,EXCELLENT
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.991211,0,AVERAGE
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.121034,0,GOOD
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0,AVERAGE
4,4,340,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0,EXCELLENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.628727,0,GOOD
381,381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463,1,GOOD
382,382,340,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.191647,1,EXCELLENT
383,383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641,0,AVERAGE
384,384,343,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,1.407334,1,EXCELLENT

In [21]:
admissions['adjusted_gre'] = pd.cut(admissions.GRE_SCORE, bins=4, labels=['POOR', 'AVERAGE', 'GOOD', 'EXCELLENT'])